@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts -  Adam S</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@(await Html.RenderComponentAsync<ContosoCrafts.Website.Components.ProductList>(RenderMode.ServerPrerendered))


<script scr="_framework/blazor.server.js"></script>

